.container-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://static.vecteezy.com/system/resources/previews/009/378/895/original/world-tourism-day-background-free-vector.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  padding: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.heading-signup {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.form-signup {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.label-signup-name,
.label-signup-email,
.label-signup-password {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #555;
}

.input-signup-name,
.input-signup-email,
.input-signup-password {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #007bff;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.input-signup-name:focus,
.input-signup-email:focus,
.input-signup-password:focus {
  border-color: #0056b3;
  outline: none;
}

.button-signup-submit {
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s;
}

.button-signup-submit:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

@media (max-width: 400px) {
  .container-signup {
    width: 90%;
    padding: 30px 20px;
  }

  .heading-signup {
    font-size: 2rem;
  }
}
